[user]
    name = Emil Eliasson
    email = limeliasson@gmail.com
[core]
    editor = nvim
[color]
    ui = true
[pull]
    rebase = false
[init]
	defaultBranch = master
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.combain.com:"]
        insteadOf = https://gitlab.combain.com/
