window#waybar {
  background-color: black;
  color: white;
  font-family: "Source Code Pro";
}

/* workspaces */
#workspaces button {
    padding: 0 10px;
    color: white;
    border-radius: 0;
}

/* disable effects on buttons */
button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  border-color: transparent;
}

/* focused workspace */
#workspaces button.focused {
    background-color: #aaaaaa;
    border-left: none;
    color: #000000;
}

/* focused workspace on inactive monitor */
#workspaces button.visible:not(.focused) {
    color: #ffffff;
    background-color: #444444;
}

/* urgent workspace */
#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* little padding for mode */
#mode {
  padding: 0 10px;
  background-color: #ff0000;
}

/* padding and spacing between modules */
#network,
#bluetooth,
#backlight,
#wireplumber,
#battery,
#memory,
#clock {
  padding: 0 15px;
  border-right: 1px solid gray;
}

#network {
  color: #e0d176;
}

#bluetooth {
  color: #4D7A7A;
}

#backlight {
  color: #bfb28b;
}

#wireplumber {
  color: #a8959a;
}

#memory {
  color: #a7856b
}

#battery {
  color: #8ec07c;
}

/* animation when critical battery or memory */
#battery.critical:not(.charging),
#memory.critical {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* low battery or memory */
#battery.warning:not(.charging),
#memory.warning {
    color: #e0b076;
}

#volume {
  color: #b49e9a;
}

#clock {
  color: #e0d3af;
  border-right: none;
  padding-right: 10px;
}
